.profile-details {
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.profile-details h3{
    color: #808080;
    font-size: 1.75rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}
.profile-details p{
    margin: 5px 0px;
}